.ul_terms{
    background-color: white !important;
    display: grid;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.ul_terms li{
    line-break: auto;
    float: right;
    direction: rtl;
    display: revert;
}
